html
    head
        title= title
        script(type="text/javascript" src='web/scripts/tile.js')
        script(type="text/javascript" src='web/scripts/maze.js')

        link(type="text/css" rel="stylesheet" href="web/styles/reset.css")
        link(type="text/css" rel="stylesheet" href="web/styles/main.css")
    body
        h1= title
