extends ../layout.pug

block append scripts
    script(type="text/javascript" src='/web/p5/p5.min.js')
    script(type="text/javascript" src='/web/scripts/tile.js')
    script(type="text/javascript" src='/web/scripts/maze.js')
    script(type="text/javascript" src='/web/scripts/controller.js')
    script(type="text/javascript" src='/web/scripts/main.js')

block content
        div(class="row")
            div(class="col-lg-12")
                section(id="maze-generator" class="my-4 text-center")
                section(id="controller" class="controller" title="Controls")
                    label(for="maze-width") Width
                    input(id="maze-width" name="maze-width" type="number")

                    label(for="maze-height") Height
                    input(id="maze-height" name="maze-height" type="number")

                    label(for="maze-cell-size") Cell Size
                    input(id="maze-cell-size" name="maze-cell-size" type="number")

                    label(for="maze-frame-rate") Frame Rate
                    input(id="maze-frame-rate" name="maze-frame-rate" type="number")

                    button(id="maze-restart" class="btn btn-default" type="button") Generate
