extends ../layout.pug

block content
    section(id="mazes" class="maze-list")
        each maze in mazes
            a(class="maze" href="solve/" + maze.name)
                h3= maze.name
                img(src="web/images/" + maze.filename)
