extends ../layout.pug

block append scripts
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" integrity="sha256-xJOZHfpxLR/uhh1BwYFS5fhmOAdIRQaiOul5F/b7v3s=" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" integrity="sha256-nbyata2PJRjImhByQzik2ot6gSHSU4Cqdz5bNYL2zcU=" crossorigin="anonymous")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js" integrity="sha256-FA14tBI8v+/1BtcH9XtJpcNbComBEpdawUZA6BPXRVw=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tensorflow/0.14.2/tf.min.js" integrity="sha256-6E1cAFd6i2sREr5VE9NIrDfCodyUEC2gHfoDsW+sONA=" crossorigin="anonymous")
    script(type="text/javascript" src='/web/p5/p5.min.js')
    script(type="text/javascript" src="/web/scripts/maze.js")
    script(type="text/javascript" src="/web/scripts/player.js")
    script(type="text/javascript" src="/web/scripts/scoreboard.js")
    script(type="text/javascript" src="/web/scripts/pages/all.js")
    script(type="text/javascript" src="/web/scripts/pages/play.js")


block page-menu
    ul(class="nav justify-content-end")
        li(class="nav-item dropdown show")
            a(class="nav-link dropdown-toggle open" href="#" id="page-settings" aria-haspopup="true" aria-expanded="false") Scoreboard
            div(class="dropdown-menu dropdown-menu-right page-settings-dropdown show" aria-labelledby="page-settings")
                div(class="input-group mb-2 mr-sm-2")
                    div(class="input-group-prepend")
                        div(class="input-group-text") Attempt
                    input(type="number" class="form-control text-right" id="scoreboard-attempts" name="scoreboard-attempts" disabled)
                    div(class="input-group-append")
                        div(class="input-group-text")

                div(class="input-group mb-2 mr-sm-2")
                    div(class="input-group-prepend")
                        div(class="input-group-text") Moves
                    input(type="text" class="form-control text-right" id="scoreboard-moves" name="scoreboard-moves" disabled)
                    div(class="input-group-append")
                        div(class="input-group-text")

                div(class="input-group mb-2 mr-sm-2")
                    div(class="input-group-prepend")
                        div(class="input-group-text") Final Score
                    input(type="number" class="form-control text-right" id="scoreboard-score" name="scoreboard-score" disabled)
                    div(class="input-group-append")
                        div(class="input-group-text") %

                div(class="btn-group w-100")
                    a(class="btn btn-success" href="/web/images/" + maze.image download) Download
                    a(id="scoreboard-train" class="btn btn-secondary col-lg-4 text-white" href="/learn/solve/" + maze.name) Train
                    a(id="scoreboard-respawn" class="btn btn-primary col-lg-4 text-white") Respawn


block content
    div(class="container")
        div(class="row mt-4")
            div(class="col-lg-12")
                section(id="maze-container" class="maze-container text-center" data-name= maze.name)
