body {
    background: #000000;
    text-align: center;
    font-size: 12px;
}

h1 {
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    margin: 20px auto;
}

.controller {
    width: 280px;
    background: #555;
    padding: 10px;
    box-sizing: border-box;
}

.controller input {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    width: 70%;
    text-align: center;
}

.controller button {
    margin: 10px 4% 0 0;
    padding: 5px;
}

.controller label {
    display: inline-block;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: left;
    font-weight: bold;
    width: 30%;
}

.maze-list {
    width: 100%;
    margin: 0 2%;
}

.maze-list .maze {
    float: left;
    max-width: 20%;
    margin: 2%;
}

.maze-list .maze h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.maze-list .maze img {
    margin-top: 10px;
    max-width: 100%;
    max-height: 100%;
}

/* Hiding the close button for jQuery modals */
.ui-dialog-titlebar-close {
    display: none !important;
}
