body {
    font-size: 12px;
}


.input-group * {
    font-size: 0.8rem !important;
}

.card {
    background: #FAFAFA;
}

.card-img-top {
    width: 100%;
    max-height: 15vw;
    object-fit: contain
}

.page-settings-dropdown {
    width: 300px;
    padding: 10px;
}

.border-box {
    box-sizing: border-box;
}
